.about-section {
    margin: var(--section-mr) 0;
    padding: var(--section-p);
    border-top: 1px solid var(--border);
    text-align: center;
}

.about-section p {
    width: 90%;
    margin: 0 auto;
    line-height: 2;
    letter-spacing: .5px;
    font-size: 18px;
    color: var(--title);
}